<nav class="MenuMain">
    <div class="MenuMainTop">
        <img class="icon-gov" src="https://cdn.www.gov.co/assets/images/logo.svg" alt="">
        <div>
            <input class="InputSearch" type="search" id="site-search">
        </div>
        <div class="DivIconNotification">
            <mat-icon class="IconNotification">notification_important</mat-icon>
        </div>
        <div>
            <div class="DivUser">usuario</div>
        </div>

    </div>
    <div class="MenuMainBottom">
        <ul class="menu-item">
            <li><a routerLink="/solicitudes" routerLinkActive="active">Solicitudes ADMIN</a></li>
            <li><a routerLink="/solicitud-individual" routerLinkActive="active">Solicitudes Peticionario</a></li>
            <li><a routerLink="/detalle-solicitud" routerLinkActive="active">Resoluciones</a></li>
            <li><a routerLink="/peajes-component" routerLinkActive="active">Notificaciones</a></li>
        </ul>
    </div>
</nav>