<mat-tab-group>

    <mat-tab label="Solicitadas">
        <app-tarjeta-tie #TieSolicitud [estadoInput]=Solicitada [UrlStateTie]=UrlSolicitada [BtnNota]=BtnNotaGeneral [BtnAccept]=BtnAceptSolicitud [BtnCancel]=BtnCancelSolicitud (newItemEvent)="sucesfullChangeState($event)">

        </app-tarjeta-tie>
    </mat-tab>

    <mat-tab label="Aprobadas">
        <app-tarjeta-tie #TieAprobadas [estadoInput]=Aprobada [UrlStateTie]=UrlAprobada [BtnNota]=BtnNotaInterventoria [BtnAccept]=BtnAceptAprobada [BtnCancel]=BtnCancelAprobada (newItemEvent)="sucesfullChangeState($event)">

        </app-tarjeta-tie>
    </mat-tab>

    <mat-tab label="Verificada">
        <app-tarjeta-tie #TieVerificada [estadoInput]=Verificada [UrlStateTie]=UrlVerificada [BtnNota]=BtnNotaGeneral [BtnAccept]=BtnAceptVerificada [BtnCancel]=BtnCancelVerificada (newItemEvent)="sucesfullChangeState($event)">

        </app-tarjeta-tie>
    </mat-tab>

    <mat-tab label="Parcial">
        <app-tarjeta-tie #TieParcial [estadoInput]=Parcial [UrlStateTie]=UrlParcial [BtnNota]=BtnNotaGeneral [BtnAccept]=BtnAceptParcial [BtnCancel]=BtnCancelParcial (newItemEvent)="sucesfullChangeState($event)">

        </app-tarjeta-tie>
    </mat-tab>

    <mat-tab label="Autorizadas">
        <app-tarjeta-tie #TieAutorizadas [estadoInput]=Autorizada [UrlStateTie]=UrlAutorizada [BtnNota]=BtnNotaGeneral [BtnAccept]=BtnAceptRechazada [BtnCancel]=BtnCancelRechazada>

        </app-tarjeta-tie>
    </mat-tab>

    <mat-tab label="Rechazadas">
        <app-tarjeta-tie #TieRechazadas [estadoInput]=Rechazada [UrlStateTie]=UrlRechazada [BtnNota]=BtnNotaGeneral [BtnAccept]=BtnAceptRechazada [BtnCancel]=BtnCancelRechazada>

        </app-tarjeta-tie>
    </mat-tab>

    <mat-tab label="Canceladas">

    </mat-tab>
</mat-tab-group>