/* You can add global styles to this file, and also import other style files */

:root {
    --color-main: #3366cc;
    --color-ok: #27ae60;
    --color-fail: #e74c3c;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}